# Merging datasets yourself

Before you begin, let's load the data:

In [5]:
import pandas as pd
import numpy as np

dataset_1 = pd.read_csv('NB_1.csv', encoding='latin1')
dataset_2 = pd.read_csv('NB_2.csv', encoding='latin1')

In [6]:
dataset_1.head()

,Name,Company,ID,Location
0,"Rosa, Christian L.",In Foundation,16711119-3954,"-73.86523, -53.09301"
1,"Phillips, Astra E.",Ut Sagittis Corp.,16560609-6138,"-59.69381, 87.70082"
2,"Casey, Cullen Y.",Lacus Quisque LLC,16450127-1664,"3.9228, 175.32174"
3,"Hartman, Margaret K.",Leo Cras Associates,16810220-6854,"80.3949, 69.60191"
4,"Best, Kato K.",Dolor Institute,16860414-7325,"16.59104, 155.73971"

In [7]:
dataset_2.head()

    Name             ID  Salary
0  Ro Ch  16711119-3954   61412
1  Ph As  16560609-6138   65622
2  Ca Cu  16450127-1664   84546
3  Ha Ma  16810220-6854   97292
4  Be Ka  16860414-7325   94484

## Merge based on ID

First, write a function that merges the two datasets based on ID, where only the values present in both tables are withheld:

In [13]:
def merge_dataset_by_ids(ds_1, ds_2, key):
    names = []
    for name in ds_1['Name']:
        new_name = name.split()[0][:2]+' '+name.split()[1][:2]
        names.append(new_name)
    merged_set = pd.merge(ds_1, ds_2, on=key, how='inner')
    return merged_set

In [19]:
merge_dataset_by_ids(dataset_1, dataset_2, 'ID')

,Name_x,Company,ID,Location,Name_y,Salary
0,Ro Ch,In Foundation,16711119-3954,"-73.86523, -53.09301",Ro Ch,61412
1,Ph As,Ut Sagittis Corp.,16560609-6138,"-59.69381, 87.70082",Ph As,65622
2,Ca Cu,Lacus Quisque LLC,16450127-1664,"3.9228, 175.32174",Ca Cu,84546
3,Ha Ma,Leo Cras Associates,16810220-6854,"80.3949, 69.60191",Ha Ma,97292
4,Be Ka,Dolor Institute,16860414-7325,"16.59104, 155.73971",Be Ka,94484
5,Co Ra,Turpis Aliquam Adipiscing Corporation,16320423-1926,"45.79119, -125.18164",Co Ra,59279
6,Ha Mo,Dignissim Consulting,16661105-4765,"80.06595, -117.32574",Ha Mo,47367
7,Od Aa,Pharetra PC,16000420-0291,"71.58684, 56.90098",Od Aa,84849
8,Mc Pa,Vivamus Molestie Dapibus Industries,16360115-8573,"-65.28614, -142.99832",Mc Pa,27388
9,Al Ke,Cras Eget PC,16871017-9162,"-33.93981, 10.87635",Al Ke,30365
10,Sh Zo,Eleifend Corp.,16510617-6877,"82.17878, -70.93764",Sh Zo,84936
11,Mi Pe,Id Ante Institute,16700220-7236,"-31.48257, -82.84406",Mi Pe,33157
12,Co Wi,Lobortis Tellus Justo LLC,16471109-8709,"19.41835, -87.40446",Co Wi,43666
13,Fa Ra,Enim Nunc Ut Corp.,16520102-9427,"-88.84079, -113.17549",Fa Ra,40426
14,Pa Le,Natoque Penatibus Foundation,16110812-8263,"-38.16966, 16.68443",Pa Le,74910
15,Ho Em,Lectus Pede Industries,16001012-1432,"-24.02662, -13.97825",Ho Em,81639
16,Mc Ki,Arcu Institute,16350405-5108,"46.0557, -71.25978",Mc Ki,68546
17,Lo Aq,Blandit Enim PC,16570627-5400,"62.43744, 169.5242",Lo Aq,51788
18,De Ju,Vestibulum Nec Company,16060410-3325,"-11.28018, 91.87086",De Ju,20803
19,Ho He,Egestas Inc.,16080306-7271,"-89.28958, -30.12906",Ho He,25188
20,Sc Ch,Sit Corporation,16861129-5992,"30.36617, 135.45437",Sc Ch,99769
21,Sh Ol,Blandit LLP,16840516-8108,"3.58222, -141.79597",Sh Ol,38870
22,Ga Te,Nisi Mauris Incorporated,16160825-0013,"-3.40066, 47.163",Ga Te,58284
23,We Da,Magnis Dis Parturient LLC,16460107-2244,"40.67807, -171.69632",We Da,91976
24,Ga Gr,Posuere Cubilia Curae; Incorporated,16991208-9258,"89.92441, 68.18588",Ga Gr,37861
25,Ca Sy,Vitae Diam Corporation,16230224-3965,"47.45714, -114.68686",Ca Sy,60323

## Merge based on name

Next, merge the two datasets based on the name. Remember, you have to make the appropriate changes by converting the format of the first dataset into that of the second dataset before merging. Also, make sure that only values matched by the second dataset are present:

In [16]:
def merge_datasets_by_name(ds_1,ds_2, key):
        
    ds_1['Name'] = names
    merged_set = pd.merge(ds_1, ds_2, on='Name', how='right')
    
    return merged_set

In [15]:
merge_dataset_by_ids(dataset_1, dataset_2, 'ID')

,Name_x,Company,ID,Location,Name_y,Salary
0,Ro Ch,In Foundation,16711119-3954,"-73.86523, -53.09301",Ro Ch,61412
1,Ph As,Ut Sagittis Corp.,16560609-6138,"-59.69381, 87.70082",Ph As,65622
2,Ca Cu,Lacus Quisque LLC,16450127-1664,"3.9228, 175.32174",Ca Cu,84546
3,Ha Ma,Leo Cras Associates,16810220-6854,"80.3949, 69.60191",Ha Ma,97292
4,Be Ka,Dolor Institute,16860414-7325,"16.59104, 155.73971",Be Ka,94484
5,Co Ra,Turpis Aliquam Adipiscing Corporation,16320423-1926,"45.79119, -125.18164",Co Ra,59279
6,Ha Mo,Dignissim Consulting,16661105-4765,"80.06595, -117.32574",Ha Mo,47367
7,Od Aa,Pharetra PC,16000420-0291,"71.58684, 56.90098",Od Aa,84849
8,Mc Pa,Vivamus Molestie Dapibus Industries,16360115-8573,"-65.28614, -142.99832",Mc Pa,27388
9,Al Ke,Cras Eget PC,16871017-9162,"-33.93981, 10.87635",Al Ke,30365
10,Sh Zo,Eleifend Corp.,16510617-6877,"82.17878, -70.93764",Sh Zo,84936
11,Mi Pe,Id Ante Institute,16700220-7236,"-31.48257, -82.84406",Mi Pe,33157
12,Co Wi,Lobortis Tellus Justo LLC,16471109-8709,"19.41835, -87.40446",Co Wi,43666
13,Fa Ra,Enim Nunc Ut Corp.,16520102-9427,"-88.84079, -113.17549",Fa Ra,40426
14,Pa Le,Natoque Penatibus Foundation,16110812-8263,"-38.16966, 16.68443",Pa Le,74910
15,Ho Em,Lectus Pede Industries,16001012-1432,"-24.02662, -13.97825",Ho Em,81639
16,Mc Ki,Arcu Institute,16350405-5108,"46.0557, -71.25978",Mc Ki,68546
17,Lo Aq,Blandit Enim PC,16570627-5400,"62.43744, 169.5242",Lo Aq,51788
18,De Ju,Vestibulum Nec Company,16060410-3325,"-11.28018, 91.87086",De Ju,20803
19,Ho He,Egestas Inc.,16080306-7271,"-89.28958, -30.12906",Ho He,25188
20,Sc Ch,Sit Corporation,16861129-5992,"30.36617, 135.45437",Sc Ch,99769
21,Sh Ol,Blandit LLP,16840516-8108,"3.58222, -141.79597",Sh Ol,38870
22,Ga Te,Nisi Mauris Incorporated,16160825-0013,"-3.40066, 47.163",Ga Te,58284
23,We Da,Magnis Dis Parturient LLC,16460107-2244,"40.67807, -171.69632",We Da,91976
24,Ga Gr,Posuere Cubilia Curae; Incorporated,16991208-9258,"89.92441, 68.18588",Ga Gr,37861
25,Ca Sy,Vitae Diam Corporation,16230224-3965,"47.45714, -114.68686",Ca Sy,60323